
 
<div class="card">
    <div class="header">
    <svg class="icon" width="20" height="20">
        <use href={{flags.svg}}></use>
    </svg>
    <h2 class="countri">{{name.official}}</h2>  
    </div>
    <div class="info">
        <p class="capital">Capital:<span>{{capital}}</span></p>
        <p class="population">Population:<span>{{population}}</span></p>
        <p class="languages">Languages:<span>{{languages}}</span></p>
    </div>
    
</div>

